body{
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	background: red;
	text-align: center;
	} 

img{
	max-width: 600px;
}
h1{
	text-align: center;
	color: white;
	padding: 10px;
	line-height: 30px;
	font-family: sans-serif;
	size: 20px;
	}
p{
	color: white;
}
