body {
	margin: 20px;
	margin-right: 10px;
	margin-left: 10px;
	font-family: sans-serif;
}

h1 {
	background: rgb(9, 202, 159);
	color: white;
	font-family: sans-serif;
	text-align: center;
	padding: 20px;
}


.navigation-bar {
	text-align: center;
	font color: black;
	border-spacing: 20px;
	text-decoration-style: none;
}

.maui-box {
	background: rgb(196, 222, 252);
	color: black;
	font-family: sans-serif;

}

h2 {
	text-align: center;
	font-size: 25;
	padding-top: 10px;
	font-family: sans-serif;
}

.maui-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
    padding: 5px;
}

.text {
	font-family: sans-serif;
	text-align: left;
	margin: 10px, 20px;
	padding: 20px;

}

.reykjavik-box {
	background: rgb(194, 242, 227);
	color: black;
	font-family: sans-serif;

}

.reykjavik-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    text-align: center;
    padding: 5px;
}	

.aspen-box {
	background: rgb(196, 222, 252);
	color: black;
	font-family: sans-serif;
}

.aspen-image {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    text-align: center;
    padding: 5px;
}

.footer {
	text-align: center;

}